<main>
  <div id="login_area">
    <form>
      <span id="form_title">
        <h1>Faça seu login</h1>
      </span>

      <label for="">E-mail</label>

      <section class="p-input-icon-left">
        <i class="pi pi-envelope"></i>
        <input class="p-inputtext-lg" type="text" pInputText />
      </section>

      <label for="">Senha</label>

      <section class="p-input-icon-left">
        <i class="pi pi-lock"></i>
        <input class="p-inputtext-lg" type="password" pInputText />
      </section>

      <p-button size="large" severity="success"> Entrar </p-button>

      <section id="login_actions">
        <span>Esqueci minha senha</span>

        <span>
          <i class="pi pi-sign-in"></i>
          Criar conta
        </span>
      </section>
    </form>
  </div>

  <div id="background"></div>
</main>
